.content {
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 20px;
  /* box-shadow: 7px 13px 37px rgb(8, 5, 190); */
  box-shadow: 7px 13px 37px #263555;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content1 {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 25px;
}

.user-details2 .input-resev {
  font-size: 18px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-family: "Pathway Gothic One", sans-serif;
}

.user-details2 button .input-resev1 {
  font-size: 20px;
  border-radius: 5px;
  /* border: 1px solid rgb(33, 8, 124); */
  border: 1px solid #263555;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-family: "Pathway Gothic One", sans-serif;
  margin-bottom: 80px;
}

/* Historial Cotización */

.historial {
  width: 100%;
  justify-content: center;
}

.historial h3 {
  margin-top: 20px;
  text-align: left;
  font-size: 55px;
}

.historial .opciones {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  vertical-align: top;
}
.historial .opciones .buscar {
  display: flex;
  justify-content: left;
  align-items: top;
}

.historial .opciones input[type="search"] {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px;
  height: 50px;
  vertical-align: top;
}

.historial .todas input {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #263555;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-family: Pathway Gothic One, sans-serif;
  background-color: #263555;
  margin-top: 30px;
  margin-left: 0px;
}

.historial .opciones .crear {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: right;
  margin-top: 30px;
  margin-right: 10px;
}

.historial th {
  font-size: 13px;
  text-align: center;
}

.historial td {
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
}

.historial .acciones {
  display: flex;
  justify-content: center;
}

.historial .acciones button {
  border-radius: 5px;
  color: white;
  height: 40px;
  margin: 2px;
  width: 40px;
}

.historial .accionesSocio button {
  border-radius: 5px;
  color: white;
  height: 40px;
  margin: 2px;
  width: 80px;
}

.historial .acciones .editar {
  background-color: #f0ad4e;
  border: none;
}

.historial .acciones .eliminar {
  background-color: #d9534f;
  border: none;
}

.historial .accionesSocio .editar {
  background-color: #f0ad4e;
  border: none;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
}

.historial .accionesSocio .eliminar {
  background-color: #d9534f;
  border: none;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.historial .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.historial .fadeIn.first {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  padding-top: 15px;
}

.historial .fadeIn.second {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.historial .fadeIn.third {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.historial .fadeIn.fourth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.historial .modal-dialog {
  border-radius: 8px;
  /* width: 600px; */
}

.historial .modal .user-details2 {
  border-radius: 1px;
  /* width: 600px; */
}

.regwrapper .formulario input[type="text"] {
  margin: 5px auto;
  padding: 10px;
}

.regwrapper .formulario input[type="date"],
.regwrapper .formulario input[type="time"] {
  margin: 5px auto;
  padding: 10px;
}

.mostwrapper table {
  /* border: none; */
  margin: auto;
}

.mostwrapper .user-details2 {
  margin: auto;
  width: 100%;
}

.mostwrapper th {
  background-color: #263555;
  color: #f6f6f6;
  padding: 10px 30px 10px 30px;
}

.mostwrapper td {
  padding: auto 50px auto 50px;
  text-align: right;
  width: 50%;
}

.mostwrapper thead th {
  text-align: center;
}

.mostwrapper .total {
  background-color: #292b2c;
  color: #f6f6f6;
}
.mostwrapper span {
  font-weight: bold;
}

.mostwrapper .input {
  margin: auto;
}

.mostwrapper .opciones {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.mostwrapper .opciones input {
  padding: 15px;
  text-align: center;
  width: 250px;
}
